
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

html,body {
    height: 100%;
    width: 100%;
}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

a {
	color: rgb(103, 50, 173);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #444;
}

img {
	width: 100%;
}

header {
	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid rgb(236, 143, 66);
	z-index: 100;
}

#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 50px;
	background: url(../img/logo.png) no-repeat center;
	display: block;
}

nav {
	float: right;
    padding: 20px;
    margin-right: 40px;
}

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
    padding: 10px;

}

/* Background Img */
.backgroundimg {
    height: 500px;
    width: 100%;
    margin-top: 76px;
    background-image:url("https://wallpapercave.com/wp/xO2qTSS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


/* Image Thumbnail Gallery */
.thumbnails {
    margin-top: 30px;
    padding-left: 30px;
    float: left;
    width: 25%;
}

.thumbnails h1 {
    color: rgb(103, 50, 173);
    text-align: left;
}
.Ig {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 120px;
    padding: 10px;
}

.mainContain {
    margin-top: 30px;;
    float: right;
    width: 70%;
    height: 50%;
}

.mainContain > img {
    margin-top: 20px;
    margin-left: 25px;
    height: 100%;
    width: auto;
    border: 10px solid rgb(0, 0, 0);
}

.gallery {
    height: 100px;
    width: 120px;
}

hr {
    width: 150px;
    margin-left: 0px;
    margin-right: 25px;
}

/* Animations */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.687);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 9;
  transition: opacity 200ms ease-in,
              z-index 1ms linear; 
}

.hidden {
    opacity: 0;
    z-index: -1;
}


/* Media Query */
@media screen and (max-width : 576px) {

	header {
        position: fixed;
	}

	#menu-icon {
	    display:inline-block;
	}

	nav ul, nav:active ul { 
    	display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
        display: block;
    }